<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  {% if messages %}
  {% for message in messages%}
    <div class="alert alert-primary" role = "alert"><h5>{{message.message}}</h5></div>
  {% endfor %}
  {% endif %}
  <label for='title'>제목:</label><br>
  <p id = 'title'>
    {{article.title}}
  </p><br>
  <label for='c_time'>작성시간</label>
  <p id='c_time'>
    {{article.created_at}}
  </p><br>
  <label for='u_time'>수정일자</label>
  <p id='u_time'>
    {{article.updated_at}}
  </p><hr>
  <label for='content'>내용</label><br>
  <p id='content'>
    {{article.content}}</p>
  <label for ='image'>이미지</label><br>
  <img src='{{article.image.url}}' alt="{{article.image.name}}">
  <br>

  <a href='{% url 'articles:index' %}'><button>돌아가기</button></a>
  <form action='{% url 'articles:delete' article.pk %}' method = 'POST'>
    {% csrf_token %}
    <input type='submit' value='삭제''>
    </form>
  <a href='{% url 'articles:update' article.pk %}'><button>수정</button></a>
  <div>
    <h1>--댓글-- {{comment.count}}개</h1>
    {% for comment_a in comment %}
    <h4>{{comment_a.content}}</h2>
    <a href='{% url 'articles:c_delete' comment_a.pk %}'>삭제</a>
    <hr>
    {% empty %}
    <h1>댓글을 입력해주세요!</h1>
    {% endfor %}
    
    <!-- {% for comment in article.comment_set.all %}
    <li>{{ comment.content }} </li>
    <li>{{ comment.created_at }} </li>
    <br>
    {% endfor %} -->
  </div>
  <form action="/articles/{{article.pk}}/comment_create/" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type = 'submit' value='등록'>
  </form>
  






  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>