<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>게시간</title>
  <style>
  
  td, th  {
    border: 1px dotted black;
    text-align:center;
  }</style>
</head>
  {% extends 'articles/base.html' %}
  {% block body %}
  <h1>게시판에 오신걸 환영합니다.</h1>
  <a href="new">글 작성하기</a>
  <table>
    <tr>
      <th>게시판 번호</th>
      <th>번호</th>
      <th>내용</th>
      <th>작성시간</th>
    </tr>
  {% for A in articles %}
  <tr>
    <td>{{A.id}}</td>
    <td>{{A.title}}</td>
    <td>{{A.content}}</td>
    <td>{{A.created_at}}</td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}
