<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action='create'>
    <div>
    <label for="t_input">제목</label>
    <input type="text", id="title", name="title"></div>
    <div>
    <label for="c_input">내용</label>
    <textarea id="c_input", name="content"></textarea>
  </div>
    <input type="submit", value="제출하기">
  </form>
</body>
</html>